	h3{
	 font-size:24px;
	 font-weight: 500;
	}

	.main {
		margin-left: 20px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
	}

	.main-block-left{
		padding-left: 0;
		padding-right: 15px;
	}



	.panel{
		margin-bottom: 20px;
		background-color: #fff;
		border:1px solid transparent;
		box-shadow: 1px rgba(0, 0, 0, .05);
	}
	
	.panel-default {
		border-color: #ddd;	
	}
	
	.panel-body {
		padding: 15px;
	}
	
	.panel-margin {
		margin-left:30px;
		margin-right:30px;
	}
	
	.panel-heading {
		background-color: #fff;
		padding: 10px;
		border-bottom: 1px solid;
		border-bottom-color:#ddd;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	
	.panel-header {
		color: #6f7777;
		margin-bottom: 10px;
		text-align: center;
	}
	
	.sidebar{
		top:0;
		left:0;
		display:block;
		padding:20px;
		overflow:hidden;
		background-color:#006688;
		width:210px;
		height:800px;
	}
	
	.nav-sidebar-form {
		display:block;
		padding-top:10px;
		padding-bottom:25px;
	}
	
	.nav-user {
		height:150px;
		padding:0px;
	}
	
	.nav-sidebar {
		margin-right:-20px;
		margin-left: -20px;
	}
	
	.nav-sidebar-label {
		font-size: 12px;
		color:#aaa;
	}
	
	.nav-sidebar-img {
		width:100%;
	}
	
	.nav-user li {
		width: 50%;
		float: left;
		text-align: center;
		border-top: 1px solid #005588;
		border-bottom: 1px solid #005588;
		border-right: 1px solid #005588;
		margin-bottom: 0;
	}
	
	.content{
		width: 800px;
		min-height:800px;
	}
	
	.content-header {
		margin-top:0;
		margin-bottom:20px;
		color:#666;
	}
	
	.form-user .form-control {
		fint-size: 16px;
	}
	
	.form-signin{
		min-hieght: 200px;
	}
	
	.input-sm {
		padding: 10px;
		line-height: 1.5;
	}
	
	.form-control {
		display:block;
		width:100%;
		color:#555;
		background-color:#fff;
		border: 1px solid #ccc;
	}
	
	.form-control.password {
		margin-bottom: 10px;
	}
	
	.btn-sm {
		margin-top:20px;
		color:#666;
		background-color: #ddd;
		border-color: #fff;
	}
	
	@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    	}
	}
	
	input:-webkit-autofill {
   	-webkit-box-shadow: 0 0 0 1000px white inset;
	}